@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');



body{
  font-family: 'Poppins', sans-serif;

    background-color: ghostwhiteS;
    background-image: url("../images/cc.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    
    
}


.nav-bar ul {
    list-style-type: none;
    margin-left: 30%;
    margin-right: 50px;
    padding: 5px;
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  .nav-bar li {
    float: left;
    margin-right: 40px;
    
  }
  
  .nav-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  .header{
    margin-top: 20px;
    
  }
   
  .nav-bar li a:hover {
    background-color: wheat;
    
  }

  /*background image for the centered-div in the root page*/
  .centered-div{
    color: white;
    height: 500px;
    position: relative;
    border: 3px solid blue; 
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 59px;
    margin-top: 25px;
    
}
.centered-div p h2{
  
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.centered-div h2{
  margin-top: 6%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 35px;
}
.centered-div p{
  margin-left: 5%;
}

.advert p{
  background-color: rgb(173, 126, 7); 
  opacity: 80%;
  border-radius: 15px;  
  width: 300px;  
  height: 80px; 
  display: flex;
  justify-content: center;  
  align-items: center;  
  margin-left: 5%;  
  text-align: center}

  /* span for home page*/
  span{
    color: goldenrod;
  }
  
  /*prediction page*/
  .container {
    display: flex;
    gap: 35px; /* Space between divs */
    
}

.box {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/*about page*/
.pletter{
  font-size: large;
  font-size-adjust: inherit;
}
.vcolor{
  color: crimson;
  font-size: large;
  font-size-adjust: inherit;
}

