{%extends "base.html"%}

{%block title%}about us{%endblock%}

{%block content%}


<div class="centered-div">
    <p><h2>CORE VALUES</h2><hr>
    <p class="pletter">Realiable,efficient and confidentiality are our strong hold core values that we strive on a daily as we serve you.<br> Through our super trained model, we give you medical results at a button click and ensure that only you have<br>access to that information.</p>
    <br>
    
    <p><h2>OUR VISION AND MISSION</h2><hr></p>
    <p class="pletter"><span class="vcolor">Vision</span> To establish trust in arificial intelligence and machine learning for health related issues.</p><br>
    <p class="pletter"><span class="vcolor">Mision</span> </p>

</div>


{%endblock%}