{% extends "base.html" %}




{% block title %}Register{% endblock %}


{% block content %}

<div class="container">
    <div class="box">
        <h2><span>Symptom Tracking</span></h2>
        <p>Monitor and record symptoms over time to identify patterns and potential health risks early.</p>
        
    </div>
    


    <div class="box">
        <h2><span>Disease Prediction</span></h2>
        <p>Utilize advanced algorithms to assess health data and predict potential diseases before symptoms arise.</p>
    </div>
    
    <div class="box">
        <h2><span>Recommendation Updates</span></h2>
        <p>Receive personalized health recommendations based on tracked symptoms and predictive analysis.</p>
    </div>
    
</div>


{%endblock%}